- content_for(:page) do
  %h1
    Novo Recado
  
  = form_for @wall_message do |f|
  
    = f.text_area :description
    %span#error_image.help-inline= @wall_message.errors.get(:description)

= render :partial => "shared/header"

