- content_for(:page) do
  %h1
    Novo Recado
  
  = form_for @wall_message do |f|
  
    = f.text_area :description
    = show_message_if_error(@wall_message, :description)

= render :partial => "shared/header"

