/*
 *= require_tree .
 *= require_self
 */

.navbar-right {
  float: right !important;
}

footer {
  text-align: center;
}

body{
  padding-top: 60px;
}

.content {
  min-height: 500px;
}

.container-login {
  padding: 10px 0;
  width: 90%;
}

.sidebar-nav {
  padding: 9px 0;
}

#presentation {
  text-align: center;
}

#presentation-frame {
  height: 400px;
  width: 640px;

  border: 1px solid #ccc;
}

a.danger {
  color: red;
}

/* pagination */
.pagination > span.first > a {
  border-width: 1px;
}

.pagination > .current {
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  line-height: 34px;
  padding: 0 14px;
}

.pagination > .gap {
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  line-height: 34px;
  padding: 0 14px;
}

.datemask{
  width: 80px;
}

.displayinline {
  display: inline;
}

/* login */
#login-form {
  width: 300px;
}

#login-remember {
  display: inline !important;
}

#login-remember label{
  display: inline !important;
}

/* notice message */
#notice-msg {
  display: none;
  width: 112px; 
  background: #002776; 
  position: absolute; 
  top: 0; 
  left: 50%; 
  margin-left: -75px;
  z-index: 2000; 
  box-shadow: 2px 2px 5px #333;
}

#notice-msg p {
  font: bold 14px arial, 
  sans-serif; color: #fff; 
  padding: 2px 5px 0px 15px; 
}

/* notifications */
#notifications-container ul {
  color: red;
  list-style: none !important;
  margin: 0px;
  padding: 0px;
}

span.dropdown-no-link {
  color: #333;
  font-weight: bolder;
  margin: 3px 10px;
}

