#calendar table tr td {
  height: 60px;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  word-wrap: break-word;
}

#calendar table tr th {
}

#calendar-header {width: 240px; margin: 0 auto;}
#calendar-header #month-title-calendar {font: bold 18px georgia, serif; color: #333; float: left; width: 170px; text-align: center;}
#calendar-header a.arrow-left-calendar {
  display: block; 
  width: 16px; 
  height: 16px; 
  background: image-url('arrow-left-calendar.png') no-repeat; 
  float: left; 
  margin: 4px 15px 0 0;
}

#calendar-header a.arrow-right-calendar {
  display: block; 
  width: 16px; 
  height: 16px; 
  background: image-url('arrow-right-calendar.png') no-repeat; 
  float: left; 
  margin: 4px 0 0 15px;
}

.outdated {
  background-color: #F0F0F0;
}

a.show-event {
  font-size: 12px;
}

li.event-participate {
  padding: 6px 0px 6px 0px;
  margin: 0px 20px;
}

a.event-member {
  margin: 5px -24px 0px 0px !important; 
  padding: 0px; 
  width: 60px;
  display: inline !important;
}

